body {
  box-sizing: border-box;
  /* margin-top: 1em; */
  font-family: "Pangolin", sans-serif;
  background-color: #f0f0f0;
  width: 90%;
  display: inline-block;
}

h2,
#main > section div {
  padding-left: 0.5em;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#header :first-child,
#nav a {
  text-decoration: none;
}

#nav button {
  margin-left: 1em;
}

form {
  padding: 20px;
  width: 33%;
  border-radius: 10px;
  background-color: #f2f2f2;
}

form.inline {
  padding: 0;
  width: 33%;
  background-color: #fff;
}

button.deleteBTN[type="submit"] {
  background-color: red;
}

input.inline[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 4px;
  margin: 2px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 2em;
  margin-top: 1em;
  padding: 0%;
  width: 100%;
}

ul li {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

a {
  color: black;
  text-decoration: none;
  width: 92%;
}

ul li,
ul li a {
  display: block;
  padding: 5px 15px;
  text-align: start;
  color: #464141;
}

/* ul li a:hover {
  background-color: #4CAF50;
  color: #ffffff;
}

ul li:hover {
  background-color: #4CAF50;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
} */

table {
  /* table-layout: fixed; */
  width: 89%;
  border-collapse: collapse;
  margin-top: 1em;
  margin-left: 1rem;
  /* border: solid #464141 1px; */
  border-radius: 25px;
  /* height: fit-content; */
  background-color: whitesmoke;
}

td {
  padding: 1em;
  text-align: left;
}

/* tr td  {
  display: flex;
  flex-direction: row;
} */

th {
  padding: 1em;
  text-align: left;
  text-decoration: underline;
  /* border-right: solid #45a049 1px; */
}

thead {
  border: solid #45a049 1px;
}

tr {
  border-bottom: solid #45a049 1px;
}

tfoot {
  border-top: 1px solid black;
  font-size: large;
  font-weight: bold;
}

div.error {
  border: 1px solid #888;
  padding: 20px;
  margin: 20;
  color: red;
  width: 60%;
}

div.stacktrace {
  font-size: small;
  font-family: monospace;
}

#pageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#pageNotFound > button a {
  text-decoration: none;
}

.main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100svh;
  /* gap: 5px; */
}

.content {
  width: 100%;
  height: 100%;
}

.content div a {
  display: flex;

  justify-content: flex-end;
  align-items: center;
}

.content h4 {
  padding-left: 2rem;
}

#nav {
  border-right: solid #45a049 1px;
  position: sticky;
  top: 0;
}

.main form legend {
  margin-bottom: 2rem;
}

.edit {
  margin-top: 1rem;
}

.edit a {
  padding-left: 1rem;
}

#login,
#signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

#login form legend,
#signup form legend {
  margin-bottom: 1rem;
}

#search {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 89%;
}

#search {
  align-content: flex-end;
  justify-items: center;
}
