body {
  box-sizing: border-box;
  /* margin-top: 1em; */
  font-family: "Pangolin", sans-serif;
  background-color: #f0f0f0;
  max-width: 90%;
  display: inline-block;
}

h2,
#main > section div {
  padding-left: 0.5em;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#header :first-child,
#nav a {
  text-decoration: none;
}

#nav button {
  margin-left: 1em;
}

form {
  padding: 20px;
  width: 33%;
  border-radius: 10px;
  background-color: #f2f2f2;
}

form.inline {
  padding: 0;
  width: 33%;
  background-color: #fff;
}

button.deleteBTN[type="submit"] {
  background-color: red;
}

input.inline[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 4px;
  margin: 2px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 2em;
  margin-top: 1em;
  padding: 0%;
  width: 100%;
}

ul li {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

a {
  color: black;
  text-decoration: none;
  width: 92%;
}

ul li,
ul li a {
  display: block;
  padding: 5px 15px;
  text-align: start;
  color: #464141;
}

/* ul li a:hover {
  background-color: #4CAF50;
  color: #ffffff;
}

ul li:hover {
  background-color: #4CAF50;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
} */

table {
  /* table-layout: fixed; */
  width: 89%;
  border-collapse: collapse;
  margin-top: 1em;
  margin-left: 3.3rem;
  /* border: solid #464141 1px; */
  border-radius: 25px;
  /* height: fit-content; */
  background-color: whitesmoke;
}

td {
  padding: 1em;
  text-align: left;
}

/* tr td  {
  display: flex;
  flex-direction: row;
} */

th {
  padding: 1em;
  text-align: left;
  text-decoration: underline;
  /* border-right: solid #45a049 1px; */
}

thead {
  border: solid #45a049 1px;
}

tr {
  border-bottom: solid #45a049 1px;
}

tfoot {
  border-top: 1px solid black;
  font-size: large;
  font-weight: bold;
}

div.error {
  border: 1px solid #888;
  padding: 20px;
  margin: 20;
  color: red;
  width: 60%;
}

div.stacktrace {
  font-size: small;
  font-family: monospace;
}

#pageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#pageNotFound > button a {
  text-decoration: none;
}

.main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100svh;
  /* gap: 5px; */
}

.content {
  width: 100%;
  height: 100%;
}

.content div a {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  width: 95%;
  /* padding-left: 50px; */
}

.content h4 {
  padding-left: 3.3rem;
}

#nav {
  border-right: solid #45a049 1px;
  position: sticky;
  top: 0;
  min-width: 200px;
}

.main form legend {
  margin-bottom: 2rem;
}

.edit {
  margin-top: 1rem;
}

.edit a {
  padding-left: 1rem;
}

#login,
#signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100vw;
}

#login form legend,
#signup form legend {
  margin-bottom: 1rem;
}

#search {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 89%;
  align-content: flex-end;
  justify-items: center;
  margin-left: 2em;
}

#nomatch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.loaderContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0% 100%,
    var(--c) 50% 100%,
    var(--c) 100% 100%;
  background-size: 20% 65%;
  animation: l8 1s infinite linear;
}
@keyframes l8 {
  16.67% {
    background-position:
      0% 0%,
      50% 100%,
      100% 100%;
  }
  33.33% {
    background-position:
      0% 0%,
      50% 0%,
      100% 100%;
  }
  50% {
    background-position:
      0% 0%,
      50% 0%,
      100% 0%;
  }
  66.67% {
    background-position:
      0% 100%,
      50% 0%,
      100% 0%;
  }
  83.33% {
    background-position:
      0% 100%,
      50% 100%,
      100% 0%;
  }
}

span {
  color: red;
  font-size: 10px;
  display: none;
}

input:invalid ~ span,
select:invalid ~ span {
  display: block;
}

input:valid,
select:valid {
  border: solid #45a049 5px;
}

#compansationsSection,
#contactsSection,
#documentsSection,
#employeeDetailsSection,
#leaveSection {
  display: none;
}

#profileNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100svw;
}

#profileNav :hover {
  cursor: pointer;
}

#employeeForm6,
#employeeForm2,
#employeeForm3,
#employeeForm4,
#employeeForm5 {
  display: none;
}
