body {
  box-sizing: border-box;
  margin: 1em;
  font-family: "Pangolin", sans-serif;
  background-color: #f0f0f0;
  width: 95%;
  /* padding: 1em; */
  display: inline-block;
}

h2, #main > section div {
  padding-left: 0.5em;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

 #header > div  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#header :first-child, #nav a {
  text-decoration: none;
}

#nav button {
  margin-left: 1em;
}

form {
  padding: 20px;
  width: 33%;
  border-radius: 10px;
  background-color: #f2f2f2;
}

form.inline {
  padding: 0;
  width:33%;
  background-color: #fff;
}

button.deleteBTN[type=submit] {
  background-color: red;
}

input.inline[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 4px;
  margin: 2px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 2em;
  margin-top: 1em;
  padding: 0%;
}

a {
  color: black;
  /* pointer-events: none; */
  text-decoration: none;
}

ul li {
  display: block;
  padding: 5px 15px;
  text-align: center;
  color: #464141;
  
}

ul li:hover, ul li a:hover {
  background-color: #4CAF50;
  color: #ffffff;
  
}

table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  margin-top: 1em;
}

td {
  padding: 1em;
  text-align: left;
}

th {
  padding: 1em;
  text-align: left;
  text-decoration: underline;
}

tfoot {
  border-top: 1px solid black;
  font-size: large;
  font-weight: bold;
}

div.error {
  border: 1px solid #888;
  padding: 20px;
  margin: 20;
  color: red;
  width: 60%;
}

div.stacktrace {
  font-size: small;
  font-family: monospace;
}

#pageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#pageNotFound > button a {
  text-decoration: none;
}